<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Term Project Guidelines</title>

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css" rel="stylesheet">
</head>

<style>
    .my-custom-gradient {
        /* A sleek "Dark Void" gradient: Black to a very deep blue/purple */
        background: linear-gradient(180deg, #7171ce 0%, #fd6c6c 100%) !important;
        min-height: 100vh;

    }
</style>

<body>
    <div id="app">
        <v-app>
            <v-main class="my-custom-gradient">
                <v-container>
                    <v-row justify="center">
                        <v-col cols="10">


                            <h1 class="text-h3 mt-5 mb-10 font-weight-bold text-white text-center"
                                v-html="projectTitle"></h1>
                            <v-sheet class="text-subtitle-1 text-black mb-8 bg-white pa-5 rounded font-weight-bold">
                                <p>
                                    {{
                                    projectDescription }}</p>
                            </v-sheet>

                            <v-card variant="elevated" color="#fd6c6c" class="mb-10 pa-4 ">
                                <v-card-title class="text-uppercase font-weight-black" style="font-size: 1.25rem;">
                                    Overall Learning Outcomes
                                </v-card-title>
                                <v-list bg-color="transparent" density="compact">
                                    <v-list-item v-for="(outcome, i) in outcomes" :key="i">
                                        <template v-slot:prepend>
                                            <v-icon icon="mdi-target" class="mr-"></v-icon>
                                        </template>
                                        <v-list-item-title class="text-wrap font-weight-bold">{{ outcome
                                            }}</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-card>

                            <v-expansion-panels v-model="openPanel" variant="popout" multiple>
                                <v-expansion-panel v-for="(stage, index) in stages" :key="index">
                                    <v-expansion-panel-title class="font-weight-bold text-white" color="#7171ce">
                                        {{ stage.title }} ({{ stage.weight }})
                                    </v-expansion-panel-title>

                                    <v-expansion-panel-text class="bg-grey-lighten-5 pa-4">
                                        <div class="d-flex flex-column ga-2 mb-4 ">
                                            <div class="mr-2 mb-2"><b>Due Date:</b> {{stage.due}} </div>
                                            <div class="mr-2 mb-2"><b>Grace Period:</b> {{ stage.grace }}</div>
                                            <div class="mr-2 mb-2"><b>Late Submission:</b> {{ stage.late}} </div>
                                            <div v-if="stage.format" class=""> <b>Submission Type:</b> {{
                                                stage.format }}</div>
                                        </div>

                                        <v-divider thickness="2" class="my-4" color="primary">
                                        </v-divider>

                                        <h3 class="text-subtitle-1 font-weight-bold mb-2">What You Need to Do</h3>
                                        <v-sheet elevation="2" rounded="lg" class="pa-4 mb-6 bg-surface">

                                            <p class="text-body-1 text-white font-weight-bold">{{ stage.description }}
                                            </p>
                                        </v-sheet>
                                        <v-divider thickness="2" class="my-4" color="primary"></v-divider>

                                        <div v-if="stage.learningObjectives">
                                            <h3 class="text-subtitle-1 font-weight-bold mb-2">Learning Objectives</h3>
                                            <v-list density="compact" bg-color="transparent" class="mb-1">
                                                <v-list-item v-for="obj in stage.learningObjectives" :key="obj"
                                                    prepend-icon="mdi-circle-medium">
                                                    <v-list-item-title class="text-wrap text-body-2">{{ obj
                                                        }}</v-list-item-title>
                                                </v-list-item>
                                            </v-list>
                                            <v-divider thickness="2" class="my-4" color="primary"></v-divider>
                                        </div>

                                        <div v-if="stage.Deliverables">
                                            <h3 class="text-subtitle-1 font-weight-bold mb-2">Deliverables</h3>
                                            <div v-for="dev in stage.Deliverables" :key="dev.title" class="mb-4">
                                                <div class="text-subtitle-2 font-weight-bold text-secondary">{{
                                                    dev.title }}</div>
                                                <p class="text-body-2 mb-2" v-if="dev.description">{{
                                                    dev.description.overview }}</p>
                                                <v-list v-if="dev.description" density="compact" bg-color="transparent">
                                                    <v-list-item v-for="bullet in dev.description.items" :key="bullet"
                                                        prepend-icon="mdi-circle-medium" color="success">
                                                        <v-list-item-title class="text-wrap text-body-2">{{ bullet
                                                            }}</v-list-item-title>
                                                    </v-list-item>
                                                </v-list>
                                            </div>
                                            <v-divider thickness="2" class="my-4" color="primary"></v-divider>
                                        </div>

                                        <div v-if="stage.items">
                                            <h3 class="text-subtitle-1 font-weight-bold mb-2">Resources and Examples
                                            </h3>
                                            <p class="text-body-2 mb-2">{{ stage.resourceTitle || `Consult the following
                                                to guide your work:` }}</p>
                                            <v-list density="compact" bg-color="transparent" class="mb-4">
                                                <v-list-item v-for="(item, lIdx) in stage.items" :key="lIdx"
                                                    :href="item.url" target="_blank" prepend-icon="mdi-link-variant"
                                                    class="text-primary">
                                                    <v-list-item-title
                                                        class="text-wrap text-body-2 text-decoration-underline">
                                                        {{ item.name }}
                                                    </v-list-item-title>
                                                </v-list-item>
                                            </v-list>
                                            <v-divider thickness="2" class="my-4" color="primary"></v-divider>
                                        </div>

                                        <div v-if="stage.submissionInstructions">
                                            <h3 class="text-subtitle-1 font-weight-bold mb-2">Submission</h3>
                                            <p class="text-body-2 mb-2">{{ stage.submissionInstructions.overview }}</p>
                                            <v-list density="compact" bg-color="transparent" class="mb-6">
                                                <v-list-item v-for="sub in stage.submissionInstructions.items"
                                                    :key="sub" prepend-icon="mdi-upload">
                                                    <v-list-item-title class="text-wrap text-body-2">{{ sub
                                                        }}</v-list-item-title>
                                                </v-list-item>
                                            </v-list>
                                        </div>

                                        <v-divider thickness="2" class="my-4" color="primary"></v-divider>

                                        <div v-if="stage.stageRubric">
                                            <h3 class="text-subtitle-1 font-weight-bold mb-4">Assessment Rubric</h3>
                                            <v-table density="comfortable" class="border rounded mb-4 bg-transparent">
                                                <tbody>
                                                    <template v-for="(rubricRow, rIdx) in stage.stageRubric"
                                                        :key="rIdx">
                                                        <tr>
                                                            <td class="font-weight-bold text-body-2 pa-2">{{
                                                                rubricRow?.criterion }}</td>
                                                            <td class="text-caption pa-2">{{ rubricRow?.excellent }}
                                                            </td>
                                                        </tr>
                                                    </template>
                                                </tbody>
                                            </v-table>
                                        </div>
                                    </v-expansion-panel-text>
                                </v-expansion-panel>
                            </v-expansion-panels>

                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>

    <script>
        const { createApp, ref } = Vue;
        const { createVuetify } = Vuetify;
        const vuetify = createVuetify({
            theme: {
                defaultTheme: 'myCustomTheme',
                themes: {
                    myCustomTheme: {
                        dark: false, // We'll keep it light-coded but use deep colors
                        colors: {
                            primary: '#000000',    // Matches the top of your gradient
                            secondary: '#7171ce',  // Matches the bottom of your gradient
                            accent: '#FFD700',     // A "fun" gold for buttons/icons
                            info: '#00E5FF',       // Cyan for highlights
                            success: '#00C853',
                            warning: '#FFAB00',
                            error: '#FF5252',
                            surface: '#fd6c6c',    // Deep navy cards (looks great on gradients)
                            'on-surface': '#000000', // Ensures text on cards is white
                            background: '#ffff0080', // Let the CSS gradient show through
                        },
                    },
                },
            },
        });



        createApp({
            setup() {


                // --- UPDATED DATA SECTION FOR PART 2 ---
                const projectTitle = ref("Term Project Part 2 <br> Building the Collective App <br> (30% Total)");

                const projectDescription = ref("In this next phase, teams will move from mockups to implementation. Working with your team, you will build one functional module of the app concept selected in Part 1. Using JavaScript and Vuetify, you will apply coding fundamentals to make users think critically about the investigated real-world issue. This stage also includes a usability and equity audit, and a final presentation.");

                const outcomes = ref([
                    "Implement interactive logic using JavaScript variables, arrays, and functions.",
                    "Develop functional user interface components using the Vuetify framework.",
                    "Collaborate on a shared codebase to integrate modules into a main app.",
                    "Perform a usability and equity audit to critically evaluate the social impact of the digital provocation.",
                    "Present your final module to a public audience and share the insights you and your team gathered throughout the development process."]);

                const stages = ref([
                    {
                        title: "Stage 5: Module Logic Implementation",
                        releaseDate: "2026-02-25T08:00:00",
                        due: "March 4 by 11:59 PM.",
                        grace: "March 5 - 8 by 11:59 PM (No penalty, but feedback may be limited).",
                        late: "March 9 - 11 (10% deduction per day). After March 11, submissions receive 0%.",
                        weight: "10% of total grade",
                        format: "Team submission",
                        description: `In this stage, you will transform your mockup and preliminary logic into a functional, interactive module. Using the logic fundamentals covered in workshops and labs, you will move beyond placeholders to create a working user experience. Additionally, you will research your sub-theme more deeply to integrate specific content, such as data, facts, statistics, or commentary, that grounds your digital provocation in real-world evidence.`,
                        learningObjectives: [
                            "Logic Application: Use variables, arrays, and functions to create a dynamic user experience.",
                            "Algorithmic Thinking: Implement conditional logic (if/else) and operators to control app behavior.",
                            "Thematic Cohesion: Ensure the code's functionality serves the specific sub-theme selected."
                        ],
                        Deliverables: [
                            {
                                title: "Functional Module (HTML & JS Files)",
                                description: {
                                    overview: "A working version of your specific module featuring:",
                                    items: [
                                        "Research-Informed Content: Integration of specific facts, statistics, routes, or commentary relevant to your sub-theme.",
                                        "Data-Driven Logic: Use variables, arrays, and functions to store research-informed content (facts, stats, or commentary) and trigger interactive user interface changes.",
                                        "Refined User Interface: Fully implement and polish the components from previous assignment, ensuring a functional and responsive user interface.",
                                        "Documentation & Intent: Use code comments to explain logic intent, identify bugs, and note areas requiring future research or technical help."
                                    ]
                                }
                            }
                        ],
                        items: [
                            { name: "Coding Workshop Slides and Cheat Sheets", url: "https://tinyurl.com/coding-logic-workshop-slides" },
                            { name: "Course Labs", url: "https://artssci.github.io/labs/" },
                            { name: "JavaScript Documentation", url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript" },
                            { name: "Vuetify Components Documentation", url: "https://vuetifyjs.com/en/components/all/" }
                        ],
                        submissionInstructions: {
                            overview: "One member of the team must submit the following to the 'Module Logic Implementation' Dropbox on Avenue to Learn:",
                            items: [
                                "A zipped folder containing index.html, app.js, and any external assets (e.g., images)."
                            ]
                        },
                        stageRubric: [
                            {
                                criterion: "Research-Informed Content (2.5%)",
                                excellent: "The interactivity successfully engages the user critically with the sub-theme through specific facts, statistics, routes, or commentary.'",
                                satisfactory: "The module works, but the connection between the interaction and the critical theme feels generic.",
                                needsImprovement: "The module functions as a utility without a clear critical or provocative edge."
                            },
                            {
                                criterion: "Data-Driven Logic (2.5%)",
                                excellent: "Use of data structures and functions to support the integration of research content.",
                                satisfactory: "Logic is functional but simple; data is present but may be disorganized or rely on basic variables.",
                                needsImprovement: "Code fails to execute properly or lacks meaningful research data/content."
                            },
                            {
                                criterion: "Refined User Interface (2.5%)",
                                excellent: "User interface components are polished, fully functional, and aligned with the intended design.",
                                satisfactory: "UI is functional and uses Vuetify correctly, though minor styling or alignment issues persist.",
                                needsImprovement: "UI is incomplete, broken, or does not utilize Vuetify components as planned."
                            },

                            {
                                criterion: "Documentation & Comments (2.5%)",
                                excellent: "Comments clearly explain code intent, logic flow, and identify areas for future work or assistance.",
                                satisfactory: "Comments are present but sparse; they describe what the code does but not necessarily the intent.",
                                needsImprovement: "Little to no commenting; logic is difficult to follow for a collaborator."
                            }
                        ]
                    },

                    {
                        title: "Stage 6: Module Integration",
                        releaseDate: "2026-03-11T08:00:00",
                        due: "March 18 by 11:59 PM.",
                        grace: "March 19 - 22 by 11:59 PM (No penalty, but feedback may be limited).",
                        late: "March 23 - 25 (10% deduction per day). After March 25, submissions receive 0%.",
                        weight: "10% of total grade",
                        format: "Team submission",
                        description: `You team will implement shared layout components (e.g., app bar, navigation drawer, and color theme) in your module, using the winning mockup as a guide. Additionally, this stage requires finalizing any missing aspects left from Stage 5, completing all content/data entry, and ensuring your code is clean enough to coexist in a shared environment without causing errors.`,
                        learningObjectives: [
                            "Collaborative Systems: Successfully implement shared user interface components (App Bar, Navigation Drawer, and color theme).",
                            "Technical Refinement: Finalize all visual, logical or research aspects for a 'production-ready' state."
                        ],
                        Deliverables: [
                            {
                                title: "HTML & JS Files & GitHub Pages Link",
                                description: {
                                    overview: "A fully functional module living inside the class-voted layout:",
                                    items: [
                                        "Shared Layout Implementation: Integration of the winning App Bar, Navigation Drawer, and color theme. Use the 'Modules URLs and Color Theme' document under Resources below to share your GitHub link and find links to peer modules and color theme details.",
                                        "Finalized Interface & Logic: 100% completion of all visual and logical features of your module.",
                                        "Finalized Researched Content & Critical Lens: 100% integration of all research data and your critical lens.",
                                        "Module Background, Instructions & References: Include a blurb describing your module's sub-theme, critical lens, and how it fits within the collective app. Include brief instructions on how to use/interact with the module. And, includes references for the content and images used in APA format."
                                    ]
                                }
                            }
                        ],

                        items: [
                            { name: "Winning App Bar & Navigation Drawer", url: "https://tinyurl.com/winning-module" },
                            { name: "Modules URLs and Color Theme", url: "https://tinyurl.com/Modules-URLs-and-Color-Theme" },
                            { name: "Lab 2, Publishing Your Gallery With GitHub Pages", url: "https://artssci.github.io/labs/lab3.html#6" }

                        ],

                        stageRubric: [
                            {
                                criterion: "Shared Layout Implementation (2.5%)",
                                excellent: "The winning App Bar and Navigation Drawer are accurately implemented, strictly following the shared structure, aesthetic, and class-voted color theme.",
                                satisfactory: "Layout components are present and functional, but show minor inconsistencies in styling, placement, or color application.",
                                needsImprovement: "Layout components are missing, broken, or do not align with the winning design guidelines."
                            },
                            {
                                criterion: "Interface & Logic Finalization (2.5%)",
                                excellent: "100% completion of all visual and logical features; the module is fully interactive, bug-free, and seamlessly integrated into the portfolio suite.",
                                satisfactory: "Most logic is finalized, but minor placeholders remain or certain interactive features are slightly glitchy.",
                                needsImprovement: "Significant logic is missing, or the module contains non-functional interactive elements."
                            },
                            {
                                criterion: "Researched Content & Critical Lens Completion (2.5%)",
                                excellent: "100% integration of research data and critical lens; the module presents a clear and impactful provocation.",
                                satisfactory: "Research content is present, but the critical lens or the instructional blurb lacks depth or clarity.",
                                needsImprovement: "The module contains incomplete research or fails to communicate its thematic purpose and instructions."
                            },
                            {
                                criterion: "Module Background, Instructions & References (2.5%)",
                                excellent: "Includes a clear, descriptive blurb regarding the sub-theme and critical lens, with concise instructions on how to interact with the module, and references for the content and images used.",
                                satisfactory: "A background blurb and instructions are present, but may lack clarity regarding the module's fit within the collective app.",
                                needsImprovement: "Background information or user instructions are missing or provide insufficient detail for the user."
                            }
                        ],
                    },

                    {
                        title: "Stage 7: Usability, Accessibility & Equity Audit",
                        releaseDate: "2026-03-18T08:00:00",
                        due: "March 25 by 11:59 PM.",
                        grace: "March 26 - 29 by 11:59 PM (No penalty, but feedback may be limited).",
                        late: "March 30 - April 1 (10% deduction per day). After April 1, submissions receive 0%.",
                        weight: "5% of total grade",
                        format: "Team submission",
                        description: `Before the final launch of our collective app, you will conduct a usability, accessibility and equity audit of your module. You will test your module with 2-4 real users (e.g., classmates from the class, but not from your team) to: 1) Observe whether your sub-theme is clearly understood and whether the digital tool prompts users to think differently about the real-world issues of Maritime Commerce and Whale Risks. 2) Perform a technical check to ensure high text-to-background contrast, a clear heading hierarchy, intuitive instructions, and functional URLs. 3) Evaluate whether your tool is inclusive and ethically grounded, ensuring it avoids reinforcing biases while effectively provoking critical thought.`,
                        learningObjectives: [
                            "User Testing: Observe and analyze how external users perceive and navigate your digital provocation.",
                            // "Accessibility Implementation: Apply Web Content Accessibility Guidelines (WCAG) such as contrast and ARIA labels.",
                            "Critical Reflection: Evaluate the accessibility and equity features of the tool."
                        ],
                        Deliverables: [
                            {
                                title: "Written Report (Aprox. 800 words)",
                                description: {
                                    overview: "A written report and constructive critique of your module including:",
                                    items: [
                                        "User Testing Insights: Feedback from external testers regarding the clarity of your sub-theme and its contribution to the overarching theme of Maritime Commerce and Whale Risks.",
                                        "Accessibility Check: Feedback from external testers regarding heading hierarchy, clear instructions, and functional URLs.",
                                        "Equity Analysis: Feedback on whether the app avoids reinforcing biases while effectively provoking critical thought.",
                                        "Potential Revisions: 1-2 specific design or code changes to make the tool more inclusive, based on the feedback received. Note: You do not need to implement these changes in your module; simply document them in this report."
                                    ]
                                }
                            }
                        ],
                         resourceTitle: "Consult the following resources to guide you:",
                        items: [
                        { name: "Usability Testing – The Complete Guide", url: "https://www.uxtweak.com/usability-testing/" },    
                        { name: "Software Testing - Web Application Testing Checklist with Test Scenarios", url: "https://www.geeksforgeeks.org/software-testing/software-testing-web-application-testing-checklist-with-test-scenarios/" }
                            
                            
                        ],

                        submissionInstructions: {
                            overview: "One member of the team submit the following to the A2L dropbox 'Usability, Accessibility & Equity Audit':",
                            items: [
                                "Written Report (Aprox. 800 words, PDF or Word)."
                            ]
                        },
                        stageRubric: [
                            {
                                criterion: "User Testing Insights (1.25%)",
                                excellent: "Provides clear evidence of external testing with insightful observations on how users understood the sub-theme and its contribution to the overarching app theme.",
                                satisfactory: "Testing was conducted, but observations on user understanding are general or superficial.",
                                needsImprovement: "No evidence of external testing or feedback collection."
                            },
                            {
                                criterion: "Accessibility Check (1.25%)",
                                excellent: "Discusses feedback on the module's accessibility standards: proper contrast, heading hierarchy, clear instructions, and functional URLs.",
                                satisfactory: "Accessibility is considered, but some issues with contrast or labeling remain.",
                                needsImprovement: "Module fails basic accessibility checks, making it difficult for some users to engage."
                            },
                            {
                                criterion: "Equity Analysis (1.25%)",
                                excellent: "Provides a critical evaluation regarding potential biases in the design and content of the modules.",
                                satisfactory: "Identifies basic equity concerns but lacks a strong connection to critical theory or course readings.",
                                needsImprovement: "Equity analysis is missing or does not address potential biases."
                            },
                            {
                                criterion: "Potential Revisions (1.25%)",
                                excellent: "Identifies 1–2 highly specific and effective technical or design changes to improve future inclusivity based on testing data.",
                                satisfactory: "Identifies a general change, but it lacks specific technical detail or clear reasoning.",
                                needsImprovement: "No meaningful revision or improvement is proposed."
                            }
                        ]
                    },
                    {
                        title: "Stage 8: Final App Presentation",
                        releaseDate: "2026-03-26T08:00:00",
                        due: "April 2 (In-Class)",
                        grace: "N/A",
                        late: "Failure to present in person will result in 0%.",
                        weight: "5% of total grade",
                        format: "In-class presentation",
                        description: `Each team will demonstrate their functional module within the live collective app and reflect on the journey from initial theory to functional code. Each presentation will be followed by a short Q&A session. Please note that external guests may be invited to observe and engage with your work during this session.`,
                        learningObjectives: [
                            "Technical Communication: Explain complex coding logic and design choices in accessible terms for a diverse audience.",
                            "Final Synthesis: Connect the functional digital product back to the critical inquiry established in Stage 1.",
                            "Professional Engagement: Respond effectively to peer and guest inquiries during a live Q&A."
                        ],
                        Deliverables: [
                            {
                                title: "Live Demo & Q&A",
                                description: {
                                    overview: "A 10-minute walkthrough of your module and participation in a 2-minute Q&A:",
                                    items: [
                                        "Logic Highlight: Demonstrate a specific code-driven interaction in the live app.",
                                        "Thematic Success: Explain how this interaction serves as a 'provocation' for the user.",
                                        "Lessons Learned: Share one major technical or theoretical challenge overcome during the build.",
                                        "Q&A Session: Answer questions regarding your data, logic, or design choices."
                                    ]
                                }
                            }
                        ],
                        stageRubric: [
                            {
                                criterion: "Live Demonstration (1.25%)",
                                excellent: "The demo is smooth and professional; the team navigates the module flawlessly while highlighting key logic.",
                                satisfactory: "The demo is functional, though navigation may be slightly unpolished or rushed.",
                                needsImprovement: "The demo fails to function or the team is unable to show the module's interactivity."
                            },
                            {
                                criterion: "Thematic Synthesis (1.25%)",
                                excellent: "Expertly connects the functional code back to the original Stage 1 provocation and sub-theme.",
                                satisfactory: "Discusses the theme, but the connection between the code and the theoretical inquiry is loose.",
                                needsImprovement: "Fails to explain the social or theoretical purpose of the module."
                            },
                            {
                                criterion: "Technical Communication (1.25%)",
                                excellent: "Clearly explains 'Lessons Learned' and logic highlights using terminology accessible to both coders and guests.",
                                satisfactory: "Explains technical aspects but uses overly dense jargon or fails to explain the 'why' behind the logic.",
                                needsImprovement: "Unable to explain how the code works or what challenges were encountered."
                            },
                            {
                                criterion: "Q&A & Engagement (1.25%)",
                                excellent: "Responds to questions with depth, confidence, and critical insight, demonstrating full ownership of the project.",
                                satisfactory: "Provides basic answers to questions but lacks detail or reflective depth.",
                                needsImprovement: "Unable to answer basic questions about the module or logic."
                            }
                        ]
                    }
                ]);


                // Initialize with a single value instead of an array
                const getActiveIndex = () => {
                    const now = new Date();

                    // We want the HIGHEST index where the date has already passed
                    // .findLastIndex is perfect for this
                    const index = stages.value.findLastIndex(stage => {
                        return now >= new Date(stage.releaseDate);
                    });

                    // If no stages have started yet, default to 0 or -1
                    return index !== -1 ? index : 0;
                };

                // Use a single number ref
                const openPanel = ref(getActiveIndex());



                // We "return" the data so the HTML template can see it
                return {
                    projectTitle,
                    projectDescription,
                    outcomes,
                    stages,
                    openPanel,
                    // dummy definitions to satisfy the compiler's scan
                    rubricRow: null,
                    item: null,
                    row: null
                }
            }
        })
            .use(vuetify)
            .mount('#app')
    </script>
</body>

</html>